.sidebar {
  width: 300px;
  background: var(--dark);
  color: var(--light);
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.sidebar h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: normal
}

.sidebar hr {
  width: 80%;
  color: var(--light);
}